# Игнорируем виртуальное окружение
venv/

# Игнорируем собранные файлы PyInstaller и py2app
build/
dist/
*.spec

# Игнорируем кэш Python
__pycache__/
*.pyc
*.pyo

# Игнорируем временные файлы macOS
.DS_Store